@model CoreApp4.Models.DB.Servicio

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Servicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdServicio" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoServicio" class="control-label"></label>
                <input asp-for="TipoServicio" class="form-control" />
                <span asp-validation-for="TipoServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFile" class="control-label"></label>
                <select asp-for="IdFile" class="form-control" asp-items="ViewBag.IdFile"></select>
                <span asp-validation-for="IdFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EsProvincia" /> @Html.DisplayNameFor(model => model.EsProvincia)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="HoraRecojo" class="control-label"></label>
                <input asp-for="HoraRecojo" class="form-control" />
                <span asp-validation-for="HoraRecojo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraSalida" class="control-label"></label>
                <input asp-for="HoraSalida" class="form-control" />
                <span asp-validation-for="HoraSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vuelo" class="control-label"></label>
                <input asp-for="Vuelo" class="form-control" />
                <span asp-validation-for="Vuelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pasajeros" class="control-label"></label>
                <input asp-for="Pasajeros" class="form-control" />
                <span asp-validation-for="Pasajeros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vr" class="control-label"></label>
                <input asp-for="Vr" class="form-control" />
                <span asp-validation-for="Vr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tc" class="control-label"></label>
                <input asp-for="Tc" class="form-control" />
                <span asp-validation-for="Tc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProveedor" class="control-label"></label>
                <select asp-for="IdProveedor" class="form-control" asp-items="ViewBag.IdProveedor"></select>
                <span asp-validation-for="IdProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
